* {
  font-family: 'Proxima Nova', sans-serif;
}

h1,
h2 {
  font-family: 'Dunkin Sans', sans-serif;
}


.quick-options {
  max-width: 50%;
  max-height: 50%;
}

.bg-light-brown {
  background-color: #e4ab6a;
  /* background-color: #e24577; */
  /* border-bottom: 1px solid gray; */
}

.btn-pink {
  background-color: #c63663;
  border-color: #c63663;
}

.btn-pink:hover {
  background-color: #db4172;
  border-color: #db4172;
}





/* .header {
  background-color: #793e00;
  position: relative;
  padding: 15px;
  border: solid 4px black;
  color: white;
}

.btn-nav {
  position: absolute;
  top: 25px;
  right: 30px;
}

.btn-shadow {
  border: solid 2px black;
  box-shadow: 4px 4px black;
}

.contenedor {
  border: solid 4px black;
  border-top: none;
  padding: 30px 60px;
}

div .lista {
  height: 200px;
}

.pirate-img {
  border: 3px solid black;
} */