.quick-options {
  max-width: 50%;
  max-height: 50%;
}

.bg-light-brown{
  background-color: #e7b377;
}



/* .header {
  background-color: #793e00;
  position: relative;
  padding: 15px;
  border: solid 4px black;
  color: white;
}

.btn-nav {
  position: absolute;
  top: 25px;
  right: 30px;
}

.btn-shadow {
  border: solid 2px black;
  box-shadow: 4px 4px black;
}

.contenedor {
  border: solid 4px black;
  border-top: none;
  padding: 30px 60px;
}

div .lista {
  height: 200px;
}

.pirate-img {
  border: 3px solid black;
} */